@import url("./reset-normolize.css");

body{
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
}

canvas{
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.info{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.add-vertex,
.remove-button,
.add-edge{
    display: block;
    margin: 0 auto;
    background-color: rgb(32, 170, 32);
    color: white;

    padding: 10px 20px;
}

.remove-button{
    background-color: rgb(228, 23, 23);
    width: 100%;  
    margin: 0; 
}

.add-edge{
    width: 100%;
}

.add-vertex{
    background-color: rgb(32, 69, 170);
    margin-bottom: 30px;
}

.ui{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.flex-container{
  --flex-items: 3;
  --flex-items-gap: 25px;

  display: flex;
  gap: var(--flex-items-gap);
  flex-wrap: wrap;
  row-gap: 50px;
}

.flex-container > * {
  flex-basis: calc(
    (100% - (var(--flex-items) - 1) * var(--flex-items-gap)) / var(--flex-items)
  );
}

.vertecies input{
    text-align: center;
    padding: 10px;
}

.vertex-label-input{
    width: 50px;
}

.vertex-editor-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertex-editor-item > div{
    display: flex;
    gap: 10px;
}

.edge-editor-item > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.edge-editor-item > div > span:first-child{
    padding: 5px;
}

.edge-editor-item input{
    width: 67%;
}

.edge-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}